.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  margin-top: 5em;
}

.section._100vh {
  height: 100vh;
}

.section._100vh.black {
  display: block;
  overflow: hidden;
  height: 110vh;
  margin-top: -50px;
  background-color: transparent;
  background-image: url('../images/Rainbow-Matrix---Imgur.gif');
  background-position: 0px 0px;
  background-size: auto;
}

.button {
  text-decoration: none;
}

.button-contain {
  position: relative;
}

.button-top {
  position: relative;
  z-index: 2;
  padding: 9px 29px 9px 9px;
  border: 1px solid #000;
  background-color: #fff480;
}

.paragraph {
  margin-bottom: 0px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.button-bottom {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  border: 1px solid #000;
  -webkit-transform: translate(-0.52em, 0.52em);
  -ms-transform: translate(-0.52em, 0.52em);
  transform: translate(-0.52em, 0.52em);
}

.heading {
  text-align: center;
}

.collection-list-wrapper {
  margin-top: 5em;
}

.blog-thumbnail-img {
  position: relative;
  z-index: 1;
  height: 15em;
  border-radius: 23px;
  background-color: transparent;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
}

.blog-thumbnail-title {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 20px;
  color: #393636;
  font-size: 21px;
  line-height: 34px;
  text-decoration: none;
}

.blog-thumbnail-bottom {
  position: relative;
  z-index: 10;
  width: 90%;
  margin-top: -2em;
  border: 1px none #000;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  box-shadow: 0 8px 17px -2px rgba(0, 0, 0, 0.28);
}

.blog-thumbnail-date {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 19px;
  font-family: Montserrat, sans-serif;
  color: #767676;
  font-size: 12px;
  font-weight: 400;
}

.blog-thumbnail-type {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  border-left: 3px solid #000;
  color: #6a6a6a;
  font-size: 13px;
}

.blog-thumbnail-readtime {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-left: 15px;
  color: #b4b4b4;
  font-size: 14px;
  font-weight: 400;
}

.collection-item {
  margin-bottom: 2em;
}

.blog-card-button {
  text-decoration: none;
}

.popup {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3000;
  display: none;
  width: 100vw;
  height: 100vh;
}

.popup-img {
  display: block;
  width: 50%;
}

.popup-text-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 3.5em;
  padding-left: 3.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #451df7;
  text-align: left;
}

.popup__header {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 44px;
}

.popup__paragraph {
  padding-top: 1em;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.close-popup {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 0.5em;
  margin-right: 1em;
  padding: 1em;
  border: 1px none #000;
  border-radius: 50px;
  background-color: red;
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.image {
  width: 50%;
  margin-left: 0px;
  padding-left: 0px;
}

.collection-list {
  margin-right: 0px;
  margin-left: 0px;
}

.hero-grid {
  margin-top: 0px;
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-2 {
  max-width: 100vw;
  margin-top: 15em;
}

.hero-camera {
  overflow: hidden;
  height: 45vw;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.section-2 {
  background-color: #1f1c1c;
}

.colored-grid__cell {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 0px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  background-color: #000;
  -webkit-transform: scale3d(1, 1, 4) scale3d(1, 1, 1.1);
  transform: scale3d(1, 1, 4) scale3d(1, 1, 1.1);
  color: #000;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.colored-grid__color {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(255, 0, 0, 0.4);
  -webkit-transform: translate3d(0px, 0px, -1px);
  transform: translate3d(0px, 0px, -1px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.colored-grid__color.orange {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(255, 149, 0, 0.4);
  -webkit-transform: translate3d(0px, 0px, -10px);
  transform: translate3d(0px, 0px, -10px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.colored-grid__color.yellow {
  background-color: rgba(255, 242, 0, 0.4);
  -webkit-transform: translate3d(0px, 0px, -20px);
  transform: translate3d(0px, 0px, -20px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.colored-grid__color.green {
  background-color: rgba(0, 255, 17, 0.4);
  -webkit-transform: translate3d(0px, 0px, -30px);
  transform: translate3d(0px, 0px, -30px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.colored-grid__color.blue {
  background-color: rgba(64, 0, 255, 0.5);
  -webkit-transform: translate3d(0px, 0px, -40px);
  transform: translate3d(0px, 0px, -40px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.colored-grid__color.pink {
  background-color: rgba(255, 0, 187, 0.4);
  -webkit-transform: translate3d(0px, 0px, -50px);
  transform: translate3d(0px, 0px, -50px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.colored-grid__color.violet {
  background-color: rgba(166, 0, 255, 0.4);
  -webkit-transform: translate3d(0px, 0px, -60px) translate3d(0px, 0px, -10px);
  transform: translate3d(0px, 0px, -60px) translate3d(0px, 0px, -10px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.utility-grid-wrapper {
  display: block;
  overflow: visible;
  height: 0%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.body {
  overflow: visible;
  background-color: #161616;
}

.div-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 10px;
  height: 10px;
  background-color: #c95a5a;
}

.background-video {
  height: 100vh;
}

@media screen and (max-width: 991px) {
  .image {
    display: block;
    margin-right: 0px;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .section._100vh.black {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
  }

  .hero-grid {
    margin-top: 0px;
  }

  .colored-grid__cell {
    display: none;
    margin-top: 50px;
    margin-left: 2em;
    padding-top: 10px;
    justify-items: end;
  }

  .utility-grid-wrapper {
    display: none;
  }

  .body {
    overflow: visible;
  }

  .not-available-text {
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    color: #fff;
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .colored-grid__cell {
    justify-items: center;
  }

  .utility-grid-wrapper {
    display: none;
  }

  .not-available-text {
    text-align: center;
  }
}